/cleand_dataset.csv
/Credit Card Fraud Detection project.zip
/data link from kaggel.txt
/data.csv
/DEPI Final Project. PPT Template.pptx.pdf (1).pptx
/encoders
/Fraud Detection Dashboard.pbix
/milestone1
/milestone2
/milestone3
/milestone4
/models
/ReportCreditCardFraudDetection (1).docx
/scaler
/selected_df.csv
/Team.xlsx